// primary colors
$blue: #317BE6 #78abf4 #DAE8FC;
$green: #59A555 #8BBF88 #D5E8D4;
$red: #DF645D #F19A96 #F8CECC;

// secondary colors
$yellow: #F4F241 #FFFE8F #FDFDC7;
$orange: #FFB643 #FFCA78 #FFDBA2;
$purple: #751be4 #B390DD #E1D3F2;
$gray: #888888 #919191 #d1d1d1;

// named aspects
